<!DOCTYPE html>
<html>
<head>
<title>Votazioni</title>
</head>
<body>

<h1> ESN BARI VOTAZIONI 2020</h1>

<form action="/pollprova", method="post">
<label for="pres">Presidente:</label>
  <select id="pres" name="pres">
    <option value="Simone">Simone</option>
    <option value="Mi astengo">Astenuto</option>
    <option value="No Simone">No</option>

  </select>
  <br>
  <br>
  <label for="vice">Vicepresidente:</label>
  <select id="vice" name="vice">
    <option value="Stefano">Stefano</option>
    <option value="Mi astengo">Astenuto</option>
    <option value="No Stefano">No</option>

  </select>
     <br>
  <br>
  <label for="teso">Tesoriere:</label>
  <select id="teso" name="teso">
    <option value="Riccardo">Riccardo</option>
    <option value="Mi astengo">Astenuto</option>
    <option value="No Riccardo">No</option>

  </select>
     <br>
  <br>
  <label for="rapp">Rappresentante locale:</label>
  <select id="rapp" name="rapp">
    <option value="Irene">Irene</option>
    <option value="Jalena">Jalena</option>
    <option value="No entrambe">Nessuno</option>
    <option value="Mi astengo">Astenuto</option>
  </select>
     <br>
  <br>
  <label for="segre">Segretario:</label>
  <select id="segre" name="segre">
    <option value="Sonia">Sonia</option>
    <option value="Mi astengo">Astenuto</option>
    <option value="No Sonia">No</option>

  </select>

  <br>
  <br>
  <input type="text" name="field" > chiave <br>
  <input type="submit">
</form>
</body>
</html>